<script>
import { extent } from "d3-array";
import { scaleLinear } from "d3-scale";
export let data= {};
export let scale_selected = [];
export let city_selected = [] ;
$: scale_selected = "Across all building types";
$: city_selected = "Baltimore";
let index= [];
// $ : yScale = if(scale_selected=="Across all building types"){
//                 if (city_selected=="Baltimore"){
//                     scaleLinear().domain([0,3769.211]).range([10,0]);

$: yScale = [] ;
    let pathGenerator= (d) => {
        console.log(d)
        console.log(city_selected)
        console.log(scale_selected)
        if (scale_selected=="Across all building types"){
            if (city_selected=="Baltimore"){
                 yScale = scaleLinear().domain([0,3769.211]).range([10,0]);
                 console.log("Balt")
            }
            else if (city_selected=="Chicago"){
                 yScale = scaleLinear().domain([0,2846.86362407]).range([10,0]);
                 console.log("Chic")
            }
            else {
                yScale = scaleLinear().domain([0,991.236113865]).range([10,0]);
                console.log("LA")
            }
        } else {
            yScale = scaleLinear().domain(extent(d)).range([10,0]);
            console.log("All")
        }
        // let yScale = scaleLinear().domain(extent(d)).range([10,0]);
        let xScale = scaleLinear().domain([0,d.length]).range([0,450])
        let path="M" + xScale(0)+ ',' + yScale(0);
        let xval=[];
        let yval =[];
        d.forEach((Value,idx) => {
            xval = xScale(idx)
            yval = yScale(Value)
            path += " " + xval + ',' + yval;
            index=idx;
        });
            path += " " + xScale(index)+ ','+ yScale(0);
        console.log(path)
        return path;
    }
</script>
<path class="line" d={pathGenerator(data)}/>
<style>
    path{
        stroke : black;
        fill: black;
        fill-opacity: 50%;
        stroke-width: 1px;
    }
</style>