<script>
    export let data= {};
    export let rScale_cooling;

let pathGenerator_cool = (d) => {
        console.log(d)
        let path="M";
         let xval=[];
        let yval =[];
        d.forEach((Value,idx) => {
             xval = 110-rScale_cooling(Value)*Math.cos(Math.PI/2+31*2*Math.PI/365-idx*2*Math.PI/365)
            yval = 150-rScale_cooling(Value)*Math.sin(Math.PI/2+31*2*Math.PI/365-idx*2*Math.PI/365)
             path += " " + xval + ',' + yval;
      });
     console.log(path)
    return path;
    }
</script>
<style>
path.cooling{
    stroke:aqua;
    stroke-width: 1px;
    fill: aqua;
    fill-opacity: 0.5;
}
</style>
<path class="cooling" d={pathGenerator_cool(data)}/>