<script>
    export let data= {};
    export let city_radius;
    export let rScale_heating; 
    let pathGenerator_heat = (d) => {
        console.log(d)
        let path="M";
        let xval=[];
        let yval =[];
        d.forEach((Value,idx) => {
            xval = 110-rScale_heating(Value)*Math.cos(Math.PI/2+31*2*Math.PI/365-idx*2*Math.PI/365)
            yval = 150-rScale_heating(Value)*Math.sin(Math.PI/2+31*2*Math.PI/365-idx*2*Math.PI/365)
            path += " " + xval + ',' + yval;
        });
        console.log(path)
        return path;
    }
</script> 
<style>
	circle {
		stroke: black;
		fill: none;
	}
	line{
		stroke: black;
		stroke-width: 2;
	}
    path.heating{
        stroke:red;
        stroke-width: 1px;
        fill:red;
        fill-opacity: 0.5;
    }
    text{
        font-size:20px;
    }
   
</style>
    <circle cx="110" cy="150" r={city_radius}/>
    <line x1="110" y1="75" x2="110" y2="225"/>
	<line x1="35" y1="150" x2="185" y2="150"/>
    <text x="100" y="65">12</text>
    <text x="190" y="155">3</text>
    <text x="105" y="243">6</text>
    <text x="20" y="155">9</text>
    <path class="heating" d={pathGenerator_heat(data)}/>