<script>
    export let data= {};
    export let yScale;
    export let xScale;
    export let leafheight;
    let index= [];
    let pathGenerator= (d) => {
        console.log(d)
        let path="M" + xScale(0)+ ',' + yScale(174.44254473910001);
        let xval=[];
        let yval =[];
        d.forEach((Value,idx) => {
            xval = xScale(idx)
            yval = yScale(Value)
            path += " " + xval + ',' + yval;
            index=idx;
        });
            path += " " + xScale(index)+ ','+ yScale(174.44254473910001);
        console.log(path)
        return path;
    }
</script> 
<style>
    path.electricity{
        stroke:steelblue;
        stroke-width: 1px;
        fill:steelblue;
        fill-opacity: 0.7;
    }
    line{
		stroke: black;
		stroke-width: 1;
  }
</style>
    <path class="electricity" d={pathGenerator(data)}/>
    <line x1={xScale(0)} y1={leafheight} x2={xScale(index)} y2={leafheight}/>