<script>
    export let data= {};
    export let yScale;
    export let xScale;
    let index=[];
    let pathGenerator= (d) => {
        console.log(d)
        let path="M" + xScale(0)+ ',' + yScale(2.18933806516);
        let xval=[];
        let yval =[];
        d.forEach((Value,idx) => {
            xval = xScale(idx)
            yval = yScale(Value)
            path += " " + xval + ',' + yval;
            index=idx;
        });
            path += " " + xScale(index)+ ','+ yScale(2.18933806516);
        console.log(path)
        return path;
    }
</script> 
<style>
    path.gas{
        stroke:orange;
        stroke-width: 1px;
        fill:orange;
        fill-opacity: 0.7;
    }
</style>
    <path class="gas" d={pathGenerator(data)}/>