<script>
  //Import
  import {onMount} from "svelte";
  import {scaleLinear} from "d3-scale";
  import City from './_design_2_city.svelte';
  import City_cool from './_design_2_city_cool.svelte';
  let city_radius = 75;
	let datapoints= [] ;
	onMount(async () => {
    const data_f = await fetch('./data/daily_heating_cooling.json');
  datapoints = await data_f.json();
});
	$: console.log(datapoints)
  
	let transformed_data_heating = {};
	let transformed_data_cooling = {};

  $ : {
		datapoints.forEach((d) => {
		if(!(d.city in transformed_data_heating)) {
			transformed_data_heating[d.city] = []
		}
		transformed_data_heating[d.city].push(+d.heating)
	})}
	$ : {
		datapoints.forEach((d) => {
		if(!(d.city in transformed_data_cooling)) {
			transformed_data_cooling[d.city] = []
		}
		transformed_data_cooling[d.city].push(+d.cooling)
	})}
  let rScale_heating = scaleLinear().domain([1849.3768016206075, 149400.33517977863]).range([0,city_radius]);
	let rScale_cooling = scaleLinear().domain([1782.1467368404114, 49784.660878648894]).range([0,city_radius]);
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top-20})">
    {#each Object.keys(transformed_data_heating) as city, city_idx}
	  <g transform="translate({city_radius*city_idx*2.5},0)">
		  <g transform="translate(65,30)">
			  <text>{city}</text>
		  </g>
		  <City data={transformed_data_heating[city]} {city_radius} {rScale_heating} />
		  <City_cool data={transformed_data_cooling[city]} {rScale_cooling} />
	  </g>
	{/each}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  text{
		font-size: 20px;
	}
</style>
