<script>
  //Importing data + packages
  import {onMount} from "svelte";
  import { extent } from 'd3-array';
  import Plot from './_design_1_controls.svelte';
  let datapoints= [] ;
  let scaling = ["Across all building types","Within building types"];
	// fetch("./static/data/hourly_heating_december.json")
	//     .then(res=> res.json())
	//     .then(data => datapoints = data)
  onMount(async () => {
    const data_f = await fetch('./data/hourly_heating_december.json');
  datapoints = await data_f.json();
});
	$: console.log(datapoints)
  // New functions to get correct data according to choices
$: extractCity=function(name){
  return datapoints.filter(d=>d.city==name);
};
// Dataset to loop over the keys in the select statement
let transformed_data = {};
$ : {
		datapoints.forEach((d) => {
    if (!(d.city in transformed_data)){
        transformed_data[d.city]=[]
      }
		transformed_data[d.city].push(+d.total_heating_energy)
	})};
  $: console.log((({Chicago})=>({Chicago}))(transformed_data));
// Final dataset used for the plot
$ : get_final_data=function(array){
    let final_data = [];
    array.forEach((d)=> {
    if(!(d.buildingtype in final_data)){
      final_data[d.buildingtype] = []
    }
    final_data[d.buildingtype].push(+d.total_heating_energy)
  })
return final_data
};
$: city_selected="Baltimore";
$: scale_selected="Across all building types";
$ : console.log(get_final_data(extractCity(city_selected)));
// Setting up the scales
$ : console.log(datapoints.map((d)=>d.total_heating_energy));
$ : console.log(extent(datapoints.map((d)=>d.total_heating_energy)));
$ : console.log(scale_selected)
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

</script>
<div class='row' style="position: absolute; left:10px; top:50px">
  <div class='col'>
  <p>City:</p>
  <select bind:value = {city_selected}>
    {#each Object.keys(transformed_data) as city}
    <option value={city}>{city}</option>
    {/each}
  </select>
  <br>
    <p>Scale option : </p>
    <select bind:value = {scale_selected}>
      {#each Object.values(scaling) as scale}
      <option value={scale}>{scale}</option>
      {/each}
    </select>
    <p style="font-size:xx-small">After choosing a scale option, you need to rechoose a city for the map to update</p>

  </div>
</div>

<svg {width} {height} style="position: relative; left:100px">
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(get_final_data(extractCity(city_selected))) as building_type, build_idx }
    <g transform="translate({build_idx*0},{build_idx*15+5})">  
    <text> {building_type} </text>
<g transform = "translate(100,-10)">
    <Plot data={get_final_data(extractCity(city_selected))[building_type]} {scale_selected} {city_selected} />
</g>
  </g>
    {/each}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  div{
    width: 150px;
  }
  text{
    font-size: xx-small;
  }
  circle{
color: olive;
opacity: 0.5;
border: 1px;
border-color: aquamarine;
  }
</style>