<script>
  //Import
  import {onMount} from "svelte";
  import {scaleLinear} from "d3-scale";
  import { extent } from 'd3-array';
  import Leaf from './_design_3_leaf.svelte';
  import Leaf2 from './_design_3_leaf_gas.svelte';
  let datapoints= [] ;
  let leafheight= 60;
  let leafwidth = 230;
  onMount(async () => {
    const data_f = await fetch('./data/hourly_electricity_vs_gas_december.json');
  datapoints = await data_f.json();
});
	$: console.log(datapoints)
  let transformed_data = {};
  $ : {
		datapoints.forEach((d) => {
		if(!(d.week in transformed_data)) {
			transformed_data[d.week] = {"elec":[],"gas":[]}
		}
		transformed_data[d.week]["elec"].push(+d.total_electrity)
    transformed_data[d.week]["gas"].push(+d.total_gas)
	})}
  $: console.log(transformed_data)
  //Scales
  $:console.log(extent(datapoints.map((d)=>d.total_gas)))
  let yScale_elec = scaleLinear().domain([174.44254473910001, 1016.4427894820001]).range([leafheight,0]);
  let yScale_gas = scaleLinear().domain([2.18933806516, 4694.35158718]).range([0,leafheight]);
  let xScale = scaleLinear().domain([0,167]).range([0,leafwidth]);
  let xScale_rev = scaleLinear().domain([0,167]).range([leafwidth,0]);
  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left+50}, {margin.top+500})">
    <line x1="190" y1="-500" x2="190" y2="80"/>
    {#each Object.keys(transformed_data) as week, week_idx}
      {#if week_idx%2 == 1}
	    <g transform="translate(180,{leafheight*week_idx*-2}), rotate(-20)">
        <g transform="translate(40,15)">
        <text>Week {week}</text>
        </g>
        <Leaf data={transformed_data[week]["elec"]} {leafheight} {xScale} yScale={yScale_elec}/>
        <g transform="translate(0,{leafheight})">
        <Leaf2 data={transformed_data[week]["gas"]} {leafheight} {xScale} yScale={yScale_gas}/>
        </g>
      </g>
      {:else}
      <g transform="translate(-15,{leafheight*week_idx*-2-75}), rotate(20)">
        <g transform="translate(125,25)">
        <text>Week {week}</text>
        </g>
        <Leaf data={transformed_data[week]["elec"]} {leafheight} xScale={xScale_rev} yScale={yScale_elec}/>
        <g transform="translate(0,{leafheight})">
          <Leaf2 data={transformed_data[week]["gas"]} {leafheight} xScale={xScale_rev} yScale={yScale_gas}/>
        </g>
        
      </g>
      {/if}
	  {/each}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line{
		stroke: black;
		stroke-width: 1;
  }
</style>
