<script>
  let current = "";
</script>
<style>
  .buttonselected {background-color: rgb(255, 166, 31);}
</style>
<!-- We will cover buttons in week 7! -->
<button class:buttonselected={current=="messi"} on:click={() => (current = "messi")}>
  Messi
</button>

<button class:buttonselected={current=="ronaldo"} on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:buttonselected={current=="neymar"} on:click={() => (current = "neymar")}>
  Neymar
</button>

