<script>
let clicked = false;
</script>

<div>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  <br>
  {#if clicked == true}
    <p id="click">You have clicked the button!</p>
  {:else}
    <p id="notclicked">You have to click the button!</p>
  {/if}
</div>
