<script>
    const name = 'Johan Rogiers';
    const list = ['swimming','cycling','cooking'];
    const object = { name, list };
</script>
<p>My name is {object.name} and these are some of my favourite things: {object.list[0]}, {object.list[1]} and {object.list[2]}.</p>