<script>
  // Properties
  export const data = [];
  export let currentProperties = [];
  const continents = ["europe", "asia", "americas", "africa"];
  $: year=0;
  let interval;
  $: text="Start";
  let Start=true;
  function handleClick() {
    if(Start==true){
    Start=false;
    text="Stop";
    interval=setInterval(setyear,200);
    function setyear(){
    year +=1
    if (year>=215) {
      year=0
    }
  }}
  else{
    Start=true;
    text="Start";
    clearInterval(interval);
  }
   };
  
  function resetClick(){
    text="Start";
    year=0;
    clearInterval(interval);
   };
  $:selected="all";
  $:currentProperties=[year,selected]
  </script>

<div class="row">
<div class="col">
      <button class="btn btn-primary" on:click={handleClick}>
        {text}
      </button><br><br>
      <button class="btn btn-warning" on:click={resetClick}>Reset</button>
</div>
<div class="col">
  <p>Year: {1800+year}</p>
  <input type="range" min="0" max="215" bind:value={year} />
</div>
<div class="col">
  <p>Continent :</p>
  <select bind:value={selected}>
    <option value="all">all</option>
    {#each continents as continent}
    <option value={continent}>{continent}</option>
    {/each}
  </select>
</div>
</div>