<script>
    let count = 0;
    function handleClick(event) {
        count+=1;
    }
    function resetClick(event){
        count=0;
    }
</script>
<div>
<button type="button" class="btn btn-success" on:click={handleClick}> Add count </button>
<button type="button" class="btn btn-warning" on:click={resetClick}>Reset</button>
<br> Count : {count} </div>
