<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
$: currentProperties=[0,"all"];
$: year=currentProperties[0];
$: continent=currentProperties[1];
$: extractData=function(array){
  if(continent=="all"){return array[year].countries}
  else{
    return array[year].countries.filter(d=>d.continent==continent)
   }
};

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={extractData(data)} />
    <Controls bind:currentProperties={currentProperties} />
  </div>
{/if}
