<script>
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  export let data;
  // Import
  import { scaleLinear, scaleOrdinal, scaleLog, scaleSqrt } from "d3-scale";
	import { schemeDark2 }from 'd3-scale-chromatic';
	import { extent } from 'd3-array';
	import { axisLeft, axisBottom } from 'd3-axis';
	import { select } from 'd3-selection';
  //Setting up scales
  const color_categorical = extent(data);
  const xScale = scaleLinear().domain([0,4000]).range([0, innerWidth]);
  const yScale=scaleLinear().domain([50, 0]).range([0, innerHeight]);
  const scale_color=scaleOrdinal().range(schemeDark2).domain(color_categorical);
  const scale_radius=scaleSqrt().domain([1000000, 10000000]).range([3, 6]);

function xAxis(x) {
    axisBottom(xScale).ticks(5)(select(x));
  };
  function yAxis(x){
    axisLeft(yScale).ticks(4)(select(x));
  };

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#each data as d}
      {#if d.income  && d.population && d.life_exp}
				<circle r={scale_radius(+d.population)} cy={yScale(+d.life_exp)}
						      cx={xScale(+d.income)}
						      style="fill: {scale_color(d.continent)};"/>
      {/if}
    {/each}
    <text x=-180 y=-30 transform="rotate(270)" style="font-size:10px;"> Life expectency </text>
    <text x=250 y=340 style="font-size:10px;"> Income </text>
    <text x=80  y=0 style="font-size:12px;"> Scatterplot of the income and life expectency in the year 1800 </text>
    <text x=250 y=150 style="font-size:10px;"> Year 1800 </text>
    <g transform="translate(0,300)" use:xAxis={"g"}></g>
    <g transform="translate(0,0)" use:yAxis={"g"}></g>
  </g>
</svg>

