<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  import { scaleLog, scaleLinear } from 'd3-scale';
  const scale = scaleLog().range([0,800]);
  const scaleColour = scaleLinear().domain([0,10]).range(["orange","black"])
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as val}
    <circle cx={scale(val)} cy='{height/2}' r='10' style={"fill:" + scaleColour(val)}/>
    {/each}
  </g>
</svg>
