<script>
  // Array
  const values = [2, 4, 6, 7, 9];
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import { scaleLog, scaleLinear} from 'd3-scale';
  import { axisBottom } from "d3-axis";
  import { select } from 'd3-selection';
  const scaleColour = scaleLinear().domain([0,10]).range(["orange","black"])
  const scale = scaleLog().range([margin.left,width-margin.right]);
  function xAxis(x) {
    axisBottom(scale)(select(x));
  };
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left-6},{margin.top})">
  <g transform="translate(0,60)" use:xAxis={"g"}></g>
    {#each values as val}
    <circle cx={scale(val)} cy='{height/2}' r='10' style={"fill:" + scaleColour(val)}/>
    {/each}
    <text font-size="10" x={width/2} y={height*7/8} fill="currentColor">x-axis</text>
  </g>
</svg>
