<script>
    // Array
    const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import { scaleLinear} from 'd3-scale';
  import { axisBottom, axisLeft } from "d3-axis";
  import { select } from 'd3-selection';
  import { scaleOrdinal} from 'd3-scale';
  import {schemeDark2} from 'd3-scale-chromatic';
  import {extent} from "d3-array";
  const Colour = extent(values, (v)=>v.category);
  const scaleColour = scaleOrdinal().domain(Colour).range(schemeDark2);
  const scaleX = scaleLinear().domain([0,10]).range([margin.left,innerWidth]);
  const scaleY = scaleLinear().domain([3,0]).range([margin.top,innerHeight]);
  function xAxis(x) {
    axisBottom(scaleX)(select(x));
  };
  function yAxis(x){
    axisLeft(scaleY).ticks(4)(select(x));
  };

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top-15})">
    {#each values as val}
    <circle cx={scaleX(val.x)} cy='{scaleY(val.y)}' r='6' style="fill:{scaleColour(val.category)}"/>
    <text class="valueLabel" x={scaleX(val.x)} y={scaleY(val.y)-7}>{val.y}</text>
    <rect x={scaleX(val.x)} y={scaleY(val.y)+5} width=1 height={innerHeight-scaleY(val.y)-5}></rect>
    {/each}
    <text font-size="10" x={width/2+20} y={height*0.87} fill="currentColor">x-axis</text>
  </g>
  <g transform="translate(0,15)">
    <g transform="translate(15,-10)" use:yAxis={"g"}></g>
   <g transform="translate(5,65)" use:xAxis={"g"}></g>
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  text.valueLabel{
    font-size:10px;
  }
</style>
