<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  import {scaleLinear, scaleBand} from 'd3-scale';
  import {axisLeft, axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  function xAxis(x) {
    axisBottom(scaleX)(select(x));
  };
  function yAxis(x){
    axisLeft(scaleY).ticks(4)(select(x));
  };
  const service1 = data.map((s) => s.service);
  const scaleX = scaleBand().domain(service1).range([margin.left,innerWidth]);
  const scaleY = scaleLinear().domain([3,0]).range([margin.top,innerHeight]);
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <text  x=0 y=0 transform=" translate(margin.left,margin.top)" fill="currentColor" style="font-size:10px;">Viewers (Million) </text>
    {#each data as datapoint}
    <rect x={scaleX(datapoint.service)+10} y={scaleY(datapoint.viewers)} width="75" height={innerHeight-scaleY(datapoint.viewers)} fill="steelblue"/>
    {/each}
  </g>
  <g transform="translate(67,275)" use:xAxis={"g"}></g>
  <g transform="translate(120,10)" use:yAxis={"g"}></g>
</svg>
