<script>
import Scatterplot from "./_ex_7_scatterplot.svelte";
import {onMount} from "svelte";
let ready;
let data = null;
onMount(async () => {
    const data_f = await fetch('/data/gapminder.json');
  data = await data_f.json();
  ready = true;
});
</script>
{#if ready } 
  <Scatterplot data={data[0].countries} />
{:else}
  <p>Loading...</p>
{/if}

